
.btnWrapper {
    display: flex;
    justify-content: start;
    align-items: center;
    height: 40%;
    min-width: 40%;
    max-width: 100%;
    margin: 0 auto;
    margin-left: 10px;
}
.btnWrapper button {
    width: 20px;
    height: 20px;
    background-color: #fff;
    margin-left: 10px;
    margin-right: 10px;
    cursor: pointer;
}